* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    width: 100vw;
    height: 50pt;
    background-color:#fcfcfc; 
    display:flex;
    position: relative;
    align-items: center;
    font-size: 17px;
    font-family:'helvetica';
    font-weight: 600;
    border-bottom: 12px solid rgb(25, 243, 54);
    display:flex;
    justify-content: space-around;
   
}

.navbar::before {
    content: " ";
    position: absolute;
    bottom: -25px;
    border: 7px solid #0358f6;
    width: 100%
  }

.link{
    text-decoration: none;
    color: rgb(0, 0, 250);
    cursor: pointer;
    margin-left:10pt;
}

 a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
  }


.home{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.bookingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.705);
    padding-bottom: 5pt;
    padding-top: 5px;
    margin-top:10%
}


input{
    width:250pt;
    height: 50pt;
    margin:10pt;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 255, 0.562);
    border-radius: 4px;
    padding-left:5pt;
}


button{
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 250pt;
    height: 40pt;
    background-color: rgba(0, 165, 22, 0.918);
    font-size: 14pt;
    color: white;
    cursor: pointer;
    margin-top: 50pt;
}

.loginButton{
   width: 80%;
   height: 35pt;
   font-size:12pt;
   background-color: blue;
   margin-top:30pt;
}

.logout{
   width: 100pt;
   height: 30pt;
   font-size:12pt;
   background-color: blue;
   margin-top:-5pt;
}


h4{
    color:blue;
    font-family: 'arial';
    font-size:14pt;
    margin-bottom: 30pt;
    text-align: center;
 }


.login1{
    width: 80%;
    height: 32pt;
    border: 1px solid  rgba(2, 2, 2, 0.74);
    background-color:  rgb(253, 252, 251);
    color:black;
    border-radius: 3px;
    margin-top:5pt;
    padding-left:3.5pt;
    font-size:11pt;
}

.admin{
    background-color: #ebebebf1;
    height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.loginForm{
    height:400pt;
    width:300pt;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
}


.loginContainer{
    height:400pt;
    width:300pt;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    background-color: white;
}

.loginWrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:90%;
    margin:20pt;
}

.cont{
   display: flex;
   width:auto;
   font-family: 'arial';
   font-size: 10pt;
   font-weight: 900
}

.cauta{
    font-family: 'helvetica';
    color:  rgba(0, 165, 22, 0.918);
    font-size: 17pt;
    text-align: center;
}

.h3{
    font-family: 'helvetica';
    color:  rgb(0, 138, 18);
    font-size: 14pt;
    text-align: center;
    margin-bottom:5pt;
    width: 540pt;
}

.img1{
    width: 65pt;
    height: 65pt;
    background-image: url('./Photos/farmacie.svg');
    background-size: cover;
    background-position: center;
    margin-right: 20pt;
}

.farmaup{
    font-family: 'helvetica';
    color:  rgba(0, 165, 22, 0.918);
    font-size: 25pt;
    text-align: center;
    margin-bottom:5pt;
    font-weight:900;
}

.img2{
    width: 75pt;
    height: 75pt;
    background-image: url('./Photos/farmacie.svg');
    background-size: cover;
    background-position: center;
    margin-right: 40pt;
}

.imgWrap{
    width: 100vh;
    margin-bottom: 30pt;
    margin-top: -9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgWrap2{
    width: 100vh;
    margin-bottom: 50pt;
    margin-top:-9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pharmaport{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}

.messageContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 25pt;
    font-family: 'helvetica';
    border: 1px solid black;
    margin-top: 10pt;
}

.messageWrap{
    width: 100%;
    height: 70vh;
    overflow: scroll;
    margin-top:5%;
}

.h1{
    font-family: 'arial';
    font-size:14pt;
    color: rgb(0, 71, 236);
    margin: 2%
}

.h2{
    font-family: 'arial';
    font-size:14pt;
    color: rgb(0, 71, 236);
    margin:4%
}


@media only screen and (max-width: 600px) {

    .navbar {
        width: 100vw;
        height: 50pt;
        background-color:#fcfcfc; 
        display:flex;
        position: relative;
        align-items: center;
        font-size: 17px;
        font-family:'helvetica';
        font-weight: 600;
        border-bottom: 12px solid  rgb(25, 243, 54);
        display:flex;
        justify-content: space-around;
    }

    
    .bookingContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 40vw;
        background-color: rgba(255, 255, 255, 0.705);
        padding-bottom: 5pt;
        padding-top: 5px;
        margin-top:30%
    }
    
    
    input{
        width: 75vw;
        height: 40pt;
        margin:10pt;
        font-size: 12pt;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 255, 0.562);
        border-radius: 4px;
        padding-left:7pt;
    }
    
    
    button{
        margin: auto;
        display:flex;
        align-items: center;
        justify-content: center;
        width: 75vw;
        height: 40pt;
        background-color: rgba(0, 165, 22, 0.918);
        font-size: 15pt;
        color: white;
        cursor: pointer;
        margin-top: 12%;
    }
    
    .loginButton{
       width: 80%;
       height: 30pt;
       font-size:12pt;
       background-color: blue;
       margin-top:20pt;
    }
    
    
    h4{
        color:blue;
        font-family: 'arial';
        font-size:14pt;
        margin-bottom: 20pt;
        text-align: center;
     }
    
    
    .login1{
        width: 80%;
        height: 32pt;
        border: 1px solid  rgba(2, 2, 2, 0.74);
        background-color:  rgb(253, 252, 251);
        color:black;
        border-radius: 3px;
        margin-top: 0pt;
        padding-left:3.5pt;
        font-size:11pt;
    }
    
    .admin{
        background-color: #ebebebf1;
        height: 100vh;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    
    .loginForm{
        height: 100%;
        width:80vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:auto;
    }
    
    
    .loginContainer{
        height: 90vh;
        width: 90vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:auto;
        background-color: white;
    }
    
    .loginWrap{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width:90%;
        margin:20pt;
    }
    
    .cont{
       display: flex;
       width:auto;
       font-family: 'arial';
       font-size: 10pt;
       font-weight: 900
    }
    
    
    .pharmaport{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
        width: 100vw;
    }
    
    .messageContainer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: auto;
        padding:2pt;
        font-family: 'helvetica';
        border: 1px solid black;
        margin-top: 10pt;
        font-size: 10pt;
        flex-wrap: wrap;
    }
    
    .messageWrap{
        width: 100%;
        height:80vh;
        overflow: scroll;
        margin-top:5%;
    }
    
    .h1{
        font-family: 'arial';
        font-size:14pt;
        color: rgb(0, 71, 236);
        margin: 2%
    }
    
    .h2{
        font-family: 'arial';
        font-size:14pt;
        margin-bottom: 24%
    }

    .p2{
        font-family: arial;
        text-align: center;
        margin: 2pt
    }

    .cauta{
        font-family: 'helvetica';
        color: rgba(0, 165, 22, 0.918); 
        font-size: 15pt;
        text-align: center;
       
    }
    
    .img1{
        width: 50pt;
        height: 50pt;
        background-image: url('./Photos/farmacie.svg');
        background-size: cover;
        background-position: center;
        margin-right:4vw;
    }

    .h3{
        font-family: 'arial';
        color:  rgb(0, 138, 18);
        font-size: 12.5pt;
        text-align: center;
        margin-bottom:5pt;
        width: 90vw;
    }

    .farmaup{
        font-family: 'helvetica';
        color:  rgba(0, 165, 22, 0.918);
        font-size: 23pt;
        text-align: center;
        margin-bottom:5pt;
        font-weight:900;
    }
    
    .img2{
        width: 70pt;
        height: 70pt;
        background-image: url('./Photos/farmacie.svg');
        background-size: cover;
        background-position: center;
        margin-right: 20pt;
    }

    .imgWrap{
        width: 100vh;
        margin-bottom: 25pt;
        margin-top: -8vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .imgWrap2{
        width: 100vh;
        margin-bottom: 50pt;
        margin-top: 70pt;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .h2{
        font-size: 13pt;
    }

}