* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body::before {
    content: ' ';
    display: block;
    background-image: url('./Photos/bkg3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10; 
}

.loading{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 20vh;
    margin-bottom:34vh;
    width:40vw;
}
  
.myImg{
    width:30pt;
    height: 20pt;
    cursor: pointer;
}

.navbar {
    width: 100vw;
    height: 57pt;
    background-color:#fcfcfc; 
    display:flex;
    position: relative;
    align-items: center;
    font-size: 20px;
    font-family:'helvetica-neue';
    font-weight: 600;
    border-bottom: 5px solid #fbff1dcc;
    display:flex;
    justify-content: space-around;
}


.navbar::before {
    content: " ";
    position: absolute;
    bottom: -11px;
    border: 3px solid #41e400;
    width: 100%
}

.navbar::after {
    content: " ";
    position: absolute;
    bottom: 0px;
    border: 3px solid rgba(0, 97, 207, 0.746);
    width: 100%
}


a{
    text-decoration: none;
    color:  rgb(0, 97, 207);
    cursor: pointer;
}



p{
    font-weight: 600;
}

.p2{
    width: 200pt;
    text-align: start;
    margin:1pt;
}
   
.p1{
    width: 230pt;
    text-align: start;
    margin:1pt;
}

.p5{
    width: 150pt;
    text-align: start;
    margin-left: -25pt
   
}

.p3{
    width: 260pt;
    text-align: start;
    margin-left:40pt;
    text-align: start;
    color: red;
    font-size: 14.5pt;
}

.p4{
    width: 150pt;
    text-align: start;
    margin:1pt;
}

.p33{
    width: 30pt;
}

.home{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 238, 238, 0.719);
}

.contact{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top:20vh;
    background-color:#fcfcfc;
}

.bookingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.input{
    width:250pt;
    height: 45pt;
    margin:auto;
    margin-bottom:14pt;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2pt solid  rgba(0, 50, 107, 0);
    color:  rgba(0, 88, 189, 0.945);
    padding-left:5pt;
    font-family: 'Helvetica-Neue';
    border-radius: 8pt;
    -webkit-appearance: none;
   
}

input{
    width:250pt;
    height: 45pt;
    margin:10pt;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2pt solid  rgba(0, 50, 107, 0.007);
    border-radius: 6px;
    padding-left:5pt;
    font-family: 'Helvetica-Neue';
    color:rgba(0, 0, 0, 0.822);
    border-radius: 8pt;
}

input::placeholder{
    color:rgba(0, 70, 151, 0.376);
}

button{
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 250pt;
    height: 40pt;
    background-color: rgb(0, 97, 207);
    font-size: 14pt;
    color: white;
    cursor: pointer;
    margin-bottom : 20pt;
    border-radius:3px;
}


.photoButton{
    margin-top:20pt;
    margin-bottom:20pt;
}


 .react-html5-camera-photo>video {
    width: 250pt;
    border:2px solid white;
}

.cameraButton{
    margin-top: 40pt;
}

.loginButton{
   width: 80%;
   height: 35pt;
   font-size:12pt;
   background-color: rgb(0, 97, 207);
   margin-top:30pt;
   
}

.logout{
   width: 70pt;
   height: 20pt;
   font-size: 11pt;
   margin:auto;
   border-radius:5px;
   background-color: white;
   color: rgb(0, 97, 207);
   font-family: 'helvetica';
   padding: 3pt;
   
}

.filler{
    width: 340pt;
    height:20pt;
}

.input2{
    width: 150pt;
    height: 25pt;
    font-size: 14pt;
    margin:auto;
    border: 2px solid rgba(0, 0, 255, 0.007);
    background-color: white;
    color:  rgb(0, 97, 207);
    font-family: 'helvetica-neue';
    font-weight: 600
}

.portalWrap{
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-bottom: 20pt;
}

.h1{
    font-family: 'helvetica-neue';
    font-size:13.5pt;
    color:  rgb(0, 97, 207);
    margin:auto;
    margin-top:0pt;
    font-weight:900;
    width:150pt;
}

h4{
    color: rgb(0, 79, 170);
    font-family: 'helvetica-neue';
    font-size:17pt;
    margin-bottom: 30pt;
    margin-top: 30pt;
    text-align: center;
}

.h4{
    color: rgb(0, 79, 170);;
    font-family: 'helvetica-neue';
    font-size:14pt;
    margin-bottom: -4pt;
    margin-top: 30pt;
    text-align: center; 
}

.login1{
    width: 80%;
    height: 34pt;
    border: 1px solid  rgba(0, 0, 0, 0.459);
    background-color:  rgb(253, 252, 251);
    color:black;
    border-radius: 3px;
    margin-top:5pt;
    padding-left:3.5pt;
    font-size:15pt;
}

.login11{
    width: 80%;
    height: 34pt;
    border: 1px solid  rgba(0, 0, 0, 0.459);
    background-color:  rgb(253, 252, 251);
    color: rgba(8, 8, 187, 0.918);
    font-family: 'helvetica-neue';
    margin-top:5pt;
    padding-left:3.5pt;
    font-size:15pt;
    margin-bottom: 8pt
}

.admin{
    background-color: rgba(226, 226, 226, 0.719);
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}


.loginForm{
    height:auto;
    width:300pt;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
}

.loginContainer{
    height:auto;
    width:360pt;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    background-color: rgb(255, 255, 255);
    border-radius:3px;
    margin-top: 10vh;
    padding-bottom: 10pt;
    border-radius: 4pt;
    border: 1px solid rgba(11, 62, 121, 0.171);
}

.loginWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:110%;
    margin-top:10pt
}

.cont{
   display: flex;
   width:auto;
   font-family: 'Helvetica Neue ,Helvetica,Arial,sans-serif';
   font-size: 12.5pt;
   font-weight: 900;
   color:rgba(197, 72, 0, 0.966);
   cursor: pointer;
}

.cont2{
   display: flex;
   width:auto;
   font-family: 'Helvetica Neue ,Helvetica,Arial,sans-serif';
   font-size: 12.5pt;
   font-weight: 900;
   color:rgba(197, 72, 0, 0.966);
   margin-top:40pt;
   cursor: pointer;
}

.login33{
    width: 80%;
    height: 34pt;
    border: 2px solid  rgba(0, 0, 0, 0.253);
    background-color:  rgb(253, 252, 251);
    color:black;
    border-radius: 3px;
    margin-top:70pt;
    padding-left:3.5pt;
    font-size:15pt;
}

.cauta{
    font-family: 'Helvetica-Neue';
    color: rgb(0, 82, 177);
    font-size: 22pt;
    text-align: center;
    animation: move2 1s;
    margin-top: -40pt;
    margin-bottom: 25pt;
    margin-right: -30pt;
}


@keyframes move2{
    from{margin-right: -100vw}
    to{margin-right: -30pt}
}

.oras{
    font-family: 'Helvetica-Neue ';
    color: rgb(0, 79, 168);
    font-size: 16pt;
    text-align: center;
    margin-bottom: 20pt;
}

.h3{
    font-family: 'helvetica-neue';
    color:  rgb(0, 81, 173);
    font-size: 16pt;
    text-align: center;
    margin-bottom:5pt;
    width: 545pt;
}

.img1{
    width: 52pt;
    height: 52pt;
    background-image: url('./Photos/foto.png');
    background-size: cover;
    background-position: center;
    margin-left: 20pt;
    animation: move1 1s;
}

@keyframes move1{
    from{margin-left: -100vw}
    to{margin-left: 20pt}
}


.farmaup{
    font-family: 'helvetica-neue';
    color:  rgb(0, 97, 207);
    font-size: 25pt;
    text-align: center;
    margin-bottom:5pt;
    font-weight:900;
}

.img2{
    width: 60pt;
    height: 60pt;
    background-image: url('./Photos/foto.png');
    background-size: cover;
    background-position: center;
    margin-right: 40pt;
}

.loginLogo{
    width: 35pt;
    height: 35pt;
    background-image: url('./Photos/foto.png');
    background-size: cover;
    background-position: center;
}

.imgWrap{
    width:360pt;
    margin-bottom: 20pt;
    margin-top: -12vh;
    display: inline;
}

.imgWrap2{
    width: 100vh;
    margin-bottom: 50pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pharmaport{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100vw;
    background-color: white;
}

.messageContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 96%;
    min-height: 25pt;
    font-family: 'helvetica-neue';
    border: 1px solid rgba(0, 17, 255, 0.287);
    margin:auto;
    margin-top: 4pt;
    padding-left:4pt;
    font-size: 13pt;
    
}


span{
    color: rgb(0, 0, 0);
    font-size: 12pt;
}

.p4{
    font-family: arial;
    margin: 1pt;
    color:rgb(0, 74, 160);
    font-weight: 900;
    font-size: 10pt;
}

.link{
    color: rgb(0, 74, 160);
    margin-left: 7pt;
    font-size: 12pt;
}

.messageWrap{
    width: 100%;
    height: auto;
    margin-top: 40pt;
    margin-bottom: 170pt;
   
}

.messageWrap::-webkit-scrollbar { 
    width: 0 !important ;
    background-color: transparent;
}

.h2{
    font-family: 'helvetica-neue';
    font-size:14pt;
    color:  rgba(0, 70, 149, 0.938);
    margin:4%
}


@media only screen and (max-width: 600px) {

    
    .bookingContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top:2%;
       
    }
    
    .input{
        width: 67vw;
        height: 36pt;
        font-size: 15pt;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left:7pt; 
    }
    
    
    input{
        width: 67vw;
        height: 36pt;
        margin:10pt;
        font-size: 15pt;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left:7pt;
    }
    
    
    .cameraWrap{
        height: auto;
        width:100vw;
    }
    
    .react-html5-camera-photo>video {
        width: 95%;
        border:2px solid white;
        margin: auto;
    }

    .cameraButton{
        margin-top:12%;
        margin-bottom:12%
    }

    button{
        margin: auto;
        display:flex;
        align-items: center;
        justify-content: center;
        width: 67vw;
        height: 37pt;
        background-color:rgb(0, 94, 200);
        font-size: 15pt;
        color: white;
        cursor: pointer;
        margin-top: 12%;
        border-radius:3px;
    }

    .button2{
        margin-bottom: 10vh;
    }

    a{
        color: rgb(0, 86, 184);
    }
    
    .loginButton{
       width: 75%;
       height: 33pt;
       font-size:12pt;
       margin-top:20pt;
       margin-bottom:25pt;
    }

    
    h4{
        font-size: 5vw;
        margin-bottom: 15pt;
        text-align: center;
        margin-top:15pt
    }

    .h4{
        font-size: 4.5vw;
        margin-bottom: -38pt;
        text-align: center;
        margin-top:25pt
    }
    
    .login1{
        width: 75%;
        height: 30pt;
        background-color:  rgb(253, 252, 251);
        border-radius: 3px;
        margin-top: 0pt;
        padding-left:3.5pt;
        font-size:14pt;
    }

    .login11{
        width: 75%;
        height: 30pt;
        background-color:  rgb(253, 252, 251);
        font-family: 'helvetica-neue';
        margin-top:0pt;
        padding-left:3.5pt;
        font-size:14pt;
        margin-bottom: 10pt
    }
    
    .loginForm{
        height: auto;
        width:72vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .loginContainer{
        height:auto;
        width: 90vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:auto;
    }

    .cont2,
    .cont{
       display: flex;
       width:auto;
       font-size: 3.7vw;
       font-weight: 900;
    }

    .messageContainer{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 95%;
        height: auto;
        padding:3pt;
        font-family: 'helvetica';
        border: 1px solid rgba(0, 38, 255, 0.171);
        margin-top: 10pt;
        font-size: 11pt;
        font-weight:500;
        flex-wrap: wrap;
    }
    
    
    
    .h2{
        font-size:13pt;
        margin-bottom: 24%
    }

    .p2{
        margin: 1pt;
       
    }

    .p3{
        margin:0pt;
        color: rgba(223, 0, 0, 0.972);
        font-size: 12.5pt;
        width: 100%;
        text-align: start
    }

    .p5{
        margin: 0pt;
    }
    
    span{
        font-size:11pt;
    }

    .cauta{
        font-size: 17pt;
        text-align: center;
        margin-right: 17pt;
        margin-top:0pt;
        margin-bottom:0pt;
        animation: none !important;
    }
    
    .img1{
        width: 44pt;
        height: 44pt;
        margin-right:11pt;
        animation: none !important;
    }

    .myImg{
        width:30pt;
        height: 20pt;
        margin: auto;
    }

    .h3{
        font-size: 13.5pt;
        text-align: center;
        margin-bottom:5pt;
        width: 90vw;
    }

    .farmaup{
        font-size: 23pt;
        text-align: center;
        margin-bottom:5pt;
        font-weight:900;
    }
    
    .img2{
        width: 55pt;
        height: 55pt;
        background-size: cover;
        background-position: center;
        margin-right: 20pt;
    }

   
    .imgWrap2{
        width: 100vh;
        margin-bottom: 50pt;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logout{
        width: 60pt;
        height: 21pt;
        font-size: 9pt;
        background-color: rgb(0, 97, 207);
        border-radius: 5px;
        margin:5pt;
        color:white
    }

     .input2{
        width:33vw;
        height: 27pt;
        font-size: 11pt;
        border: 2px solid rgba(0, 0, 255, 0);
        margin:2pt;
    }

    .h1{
      
        font-size: 11pt;
        margin: 2pt;
        font-weight: 900;
        text-align: center;
        width: 100pt;
    }

    .portalWrap{
        width: 100vw;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20pt;
    }

    .messageWrap{
        width: 100%;
        height: auto;
        margin-top: 40pt;
        margin-bottom:0pt;
    }

    .oras{
        font-size: 14pt;
        text-align: center;
        width: auto;
        margin:auto;
        margin-bottom: 20pt;
        margin-top: -5pt;
    }
    
    .loginLogo{
        width: 28pt;
        height: 28pt;
    }

    .imgWrap{
        margin-bottom: 17pt;
        margin-top: 8.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: none !important;
    }

    .home{
        height: auto;
        width: 100vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(248, 248, 248, 0.849);
    }

    .link{
        color: rgb(0, 74, 160);
        margin-left: 7pt;
        font-size: 3.7vw;
    }

    .loginWrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:115%;
        margin-top:10pt
    }

    .loading{
        display: flex;
        align-items:center;
        justify-content: center;
        height: 60vh;
        width:50vw;
    }

}