* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body::before {
    content: ' ';
    display: block;
    background-image: url('./Photos/bkg3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10; 
}
  

.myImg{
    width:30pt;
    height: 20pt;
    cursor: pointer;
}

.navbar {
    width: 100vw;
    height: 50pt;
    background-color:#fcfcfc; 
    display:flex;
    position: relative;
    align-items: center;
    font-size: 20px;
    font-family:'helvetica-neue';
    font-weight: 600;
    border-bottom: 5px solid #fcff68cc;
    display:flex;
    justify-content: space-around;
}


.navbar::before {
    content: " ";
    position: absolute;
    bottom: -11px;
    border: 3px solid #41e400;
    width: 100%
}

.navbar::after {
    content: " ";
    position: absolute;
    bottom: 0px;
    border: 3px solid rgba(0, 97, 207, 0.746);
    width: 100%
}


a{
    text-decoration: none;
    color:  rgb(0, 97, 207);
    cursor: pointer;
}

.p2{
    width: 200pt;
    text-align: start;
    margin:1pt;
}
   
.p1{
    width: 240pt;
    text-align: start;
    margin:1pt;
}

.p5{
    width: 110pt;
    text-align: start;
    margin:1pt;
}

.p3{
    width: 260pt;
    text-align: start;
    margin:1pt;
}

.p4{
    width: 150pt;
    text-align: start;
    margin:1pt;
}

.p33{
    width: 38pt;
}

.home{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 250, 250, 0.719);
}

.contact{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.bookingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.input{
    width:250pt;
    height: 45pt;
    margin:10pt;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid  rgba(0, 67, 144, 0.205);
    color:  rgb(0, 88, 189);
    padding-left:5pt;
    font-family: 'Helvetica-Neue';
}

input{
    width:250pt;
    height: 45pt;
    margin:10pt;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  rgba(0, 67, 144, 0.281);
    border-radius: 7px;
    padding-left:5pt;
    font-family: 'Helvetica-Neue';
    color: rgba(17, 17, 42, 0.829);
}

button{
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 250pt;
    height: 40pt;
    background-color: rgb(0, 97, 207);
    font-size: 14pt;
    color: white;
    cursor: pointer;
    margin-bottom : 20pt;
}

.cameraDiv{
    height: 250pt;
    width: 250pt;
    margin: auto;
}

.react-html5-camera-photo>video {
    width: 100%;
    height: 100%;
    border:2px solid white;
    margin: auto;
}

.loginButton{
   width: 80%;
   height: 35pt;
   font-size:12pt;
   background-color: rgb(0, 97, 207);
   margin-top:30pt;
   
}

.logout{
   width: 70pt;
   height: 20pt;
   font-size: 9pt;
   margin:auto;
   border-radius:5px;
   
}

.filler{
    width: 340pt;
    height:20pt;
}

.input2{
    width: 150pt;
    height: 25pt;
    font-size: 12pt;
    margin:auto;
    border: 2px solid rgba(0, 0, 255, 0.007);
    background-color: white;
    color: rgb(0, 0, 236);
}

.portalWrap{
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-bottom: 20pt;
}

.h1{
    font-family: 'helvetica-neue';
    font-size:13pt;
    color: rgba(0, 61, 202, 0.795);
    margin:auto;
    font-weight:900;
    width:150pt;
}

h4{
    color: rgb(0, 79, 170);;
    font-family: 'helvetica-neue';
    font-size:15pt;
    margin-bottom: 30pt;
    margin-top: 30pt;
    text-align: center;
}

.h4{
    color: rgb(0, 79, 170);;
    font-family: 'helvetica-neue';
    font-size:14pt;
    margin-bottom: -4pt;
    margin-top: 30pt;
    text-align: center; 
}

.login1{
    width: 80%;
    height: 32pt;
    border: 2px solid  rgba(0, 0, 0, 0.253);
    background-color:  rgb(253, 252, 251);
    color:black;
    border-radius: 3px;
    margin-top:5pt;
    padding-left:3.5pt;
    font-size:11pt;
}

.login11{
    width: 80%;
    height: 32pt;
    border: 2px solid  rgba(0, 0, 0, 0.253);
    background-color:  rgb(253, 252, 251);
    color: rgb(0, 0, 221);
    font-family: 'helvetica-neue';
    margin-top:5pt;
    padding-left:3.5pt;
    font-size:11pt;
    margin-bottom: 8pt

}

.admin{
    background-color: rgba(233, 233, 233, 0.719);
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}


.loginForm{
    height:auto;
    width:300pt;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
}

.loginContainer{
    height:auto;
    width:360pt;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    background-color: rgb(255, 255, 255);
    border-radius:3px;
    margin-top: 50pt;
    padding-bottom: 10pt;
}

.loginWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:110%;
    margin-top:10pt
}

.cont{
   display: flex;
   width:auto;
   font-family: 'Helvetica Neue ,Helvetica,Arial,sans-serif';
   font-size: 12.5pt;
   font-weight: 900;
   color:rgb(255, 94, 0);
   cursor: pointer;
}

.cont2{
   display: flex;
   width:auto;
   font-family: 'Helvetica Neue ,Helvetica,Arial,sans-serif';
   font-size: 12.5pt;
   font-weight: 900;
   color:rgb(255, 94, 0);
   margin-top:40pt;
   cursor: pointer;
}

.login33{
    width: 80%;
    height: 32pt;
    border: 2px solid  rgba(0, 0, 0, 0.253);
    background-color:  rgb(253, 252, 251);
    color:black;
    border-radius: 3px;
    margin-top:70pt;
    padding-left:3.5pt;
    font-size:11pt;
}

.cauta{
    font-family: 'Helvetica-Neue';
    color: rgb(0, 79, 168);
    font-size: 20pt;
    text-align: center;
    animation: move2 1s;
    margin-top: -40pt;
    margin-right: -30pt;
}


@keyframes move2{
    from{margin-right: -100vw}
    to{margin-right: -30pt}
}

.oras{
    font-family: 'Helvetica-Neue ';
    color: rgb(0, 79, 168);
    font-size: 14pt;
    text-align: center;
    margin-bottom: 20pt;
}

.h3{
    font-family: 'helvetica-neue';
    color:  rgb(0, 81, 173);
    font-size: 16pt;
    text-align: center;
    margin-bottom:5pt;
    width: 545pt;
}

.img1{
    width: 65pt;
    height: 65pt;
    background-image: url('./Photos/foto.png');
    background-size: cover;
    background-position: center;
    margin-right: 20pt;
    animation: move1 1s;
}

@keyframes move1{
    from{margin-left: -100vw}
    to{margin-left: 0pt}
}


.farmaup{
    font-family: 'helvetica-neue';
    color:  rgb(0, 97, 207);
    font-size: 25pt;
    text-align: center;
    margin-bottom:5pt;
    font-weight:900;
}

.img2{
    width: 75pt;
    height: 75pt;
    background-image: url('./Photos/foto.png');
    background-size: cover;
    background-position: center;
    margin-right: 40pt;
}

.loginLogo{
    width: 35pt;
    height: 35pt;
    background-image: url('./Photos/foto.png');
    background-size: cover;
    background-position: center;
}

.imgWrap{
    width:360pt;
    margin-bottom: 20pt;
    margin-top: -10vh;
    display: inline;
}

.imgWrap2{
    width: 100vh;
    margin-bottom: 50pt;
    margin-top:-9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pharmaport{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.messageContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 96%;
    height: 25pt;
    font-family: 'helvetica-neue';
    border: 1px solid rgba(0, 17, 255, 0.287);
    margin:auto;
    margin-top: 4pt;
    padding-left:5pt;
    font-size: 12pt;
}


.p3{
    text-align: start;
    margin: 2pt;
    color: red;
    font-size: 14.5pt;
}

span{
    color: rgb(0, 0, 0);
    font-size: 12pt;
}

.p4{
    font-family: arial;
    margin: 2pt;
    color:rgb(0, 74, 160);
    font-weight: 900;
    font-size: 10pt;
}

.link{
    color: rgb(0, 74, 160);
    margin-left: 7pt;
    font-size: 12pt;
}

.messageWrap{
    width: 100%;
    height: 85vh;
    overflow: scroll;
    margin-top: 40pt;
}

.messageWrap::-webkit-scrollbar { 
    width: 0 !important ;
    background-color: transparent;
}

.h2{
    font-family: 'helvetica-neue';
    font-size:14pt;
    color:  rgba(0, 70, 149, 0.938);
    margin:4%
}


@media only screen and (max-width: 600px) {

    .bookingContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top:2%;
        height: 100%;
    }
    
    .input,
    input{
        width: 69vw;
        height: 38pt;
        margin:10pt;
        font-size: 12pt;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid  rgba(0, 85, 182, 0.342);
        border-radius: 4px;
        padding-left:7pt;
    }
    
    .cameraDiv{
        height: 160pt;
        width: 95vw;
        margin: auto;
    }
   
   
    button{
        margin: auto;
        display:flex;
        align-items: center;
        justify-content: center;
        width: 69vw;
        height: 36pt;
        background-color:rgb(0, 94, 200);
        font-size: 15pt;
        color: white;
        cursor: pointer;
        margin-top: 12%;
    }

    .button2{
        margin-bottom: 10vh;
    }

    a{
        color: rgb(0, 86, 184);
    }
    
    .loginButton{
       width: 80%;
       height: 30pt;
       font-size:12pt;
       margin-top:20pt;
       margin-bottom:25pt;
    }
    
    h4{
        font-size: 4vw;
        margin-bottom: 15pt;
        text-align: center;
        margin-top:15pt
    }

    .h4{
        font-size: 4vw;
        margin-bottom: -38pt;
        text-align: center;
        margin-top:25pt
       

    }
    
    .login1{
        width: 75%;
        height: 30pt;
        border: 1px solid  rgba(2, 2, 2, 0.74);
        background-color:  rgb(253, 252, 251);
        color:black;
        border-radius: 3px;
        margin-top: 0pt;
        padding-left:3.5pt;
        font-size:11pt;
    }

    .login11{
        width: 75%;
        height: 30pt;
        border: 1px solid  rgba(2, 2, 2, 0.74);
        background-color:  rgb(253, 252, 251);
        color: blue;
        font-family: 'helvetica-neue';
        margin-top:5pt;
        padding-left:3.5pt;
        font-size:11pt;
        margin-bottom: 8pt
    }
    
    .loginForm{
        height: auto;
        width:72vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .loginContainer{
        height:auto;
        width: 90vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:auto;
    }

    .cont2,
    .cont{
       display: flex;
       width:auto;
       font-size: 3.7vw;
       font-weight: 900;
    }

    
    
    .messageContainer{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 230pt;
        height: auto;
        padding:3pt;
        font-family: 'helvetica';
        border: 1px solid rgba(0, 38, 255, 0.171);
        margin-top: 10pt;
        font-size: 11pt;
        font-weight:500;
        flex-wrap: wrap;
    }
    
    .messageWrap{
        width: 100%;
        height:80vh;
        overflow: scroll;
        margin-top: 40pt;
    }

    .messageWrap::-webkit-scrollbar { 
        width: 0 !important ;
        background-color: transparent;
    }
    
    .h2{
        font-size:13pt;
        margin-bottom: 24%
    }

    .p2{
        margin: 2pt;
       
    }

    .p3{
        margin: 2pt;
        color: rgba(223, 0, 0, 0.972);
        font-size: 11pt
        
    }

    .cauta{
        font-size: 17pt;
        text-align: center;
        margin-right: 0pt;
        margin-top:0pt;
        animation: none !important;
    }
    
    .img1{
        width: 45pt;
        height: 45pt;
        margin-right:4vw;
        margin-right:20pt;
        animation: none !important;
    }

    .myImg{
        width:30pt;
        height: 20pt;
        margin: auto;
    }

    .h3{
        font-size: 13.5pt;
        text-align: center;
        margin-bottom:5pt;
        width: 90vw;
    }

    .farmaup{
        font-size: 23pt;
        text-align: center;
        margin-bottom:5pt;
        font-weight:900;
    }
    
    .img2{
        width: 60pt;
        height: 60pt;
        background-size: cover;
        background-position: center;
        margin-right: 20pt;
    }

   
    .imgWrap2{
        width: 100vh;
        margin-bottom: 50pt;
        margin-top: 70pt;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logout{
        width: 60pt;
        height: 22pt;
        font-size: 9pt;
        background-color: blue;
        border-radius: 5px;
        margin:5pt;
    }

     .input2{
        width:33vw;
        height: 27pt;
        font-size: 11pt;
        border: 2px solid rgba(0, 0, 255, 0);
        margin:2pt;
    }

    .h1{
      
        font-size: 11pt;
        color: rgba(0, 59, 195, 0.904);
        margin: 2pt;
        font-weight: 900;
        text-align: center;
        width: 100pt;
    }

    .portalWrap{
        width: 100vw;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20pt;
    }

    .oras{
        font-size: 14pt;
        text-align: center;
        width: auto;
        margin:auto;
        margin-bottom: 20pt;
        margin-top: -5pt;
    }
    
    .loginLogo{
        width: 28pt;
        height: 28pt;
    }

    .imgWrap{
        margin-bottom: 20pt;
        margin-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: none !important;
    }

    .home{
        min-height: 130vh;
        width: 100vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(248, 248, 248, 0.849);
    }

    .link{
        color: rgb(0, 74, 160);
        margin-left: 7pt;
        font-size: 3.7vw;
    }

    .loginWrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:115%;
        margin-top:10pt
    }
    
    
}